<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847799625542-6ccdoue1cvuc2skmisjecb2ufdgus05u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847799625542-6ccdoue1cvuc2skmisjecb2ufdgus05u</string>
	<key>API_KEY</key>
	<string>AIzaSyBHaUqbQ-z_Zmv7Ln8XFOz6Zv5OFDK-Ub0</string>
	<key>GCM_SENDER_ID</key>
	<string>847799625542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meetucup.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-3be0e</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-3be0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847799625542:ios:a697983fe09adc73e4a747</string>
</dict>
</plist>